<div class="wrapper">
  <div class="container">
    <img class="trinet-img" src="../../../assets/images/trinetTimeOff.PNG" alt="trinet logo">
    <div class="main-content">
        <h3>{{"title" | translate}}</h3>
        <span class="gray">as of {{this.getTitleDate}}</span>
        <div class="col-md-12">
            <div class="col-md-6">
                <app-no-emp></app-no-emp>
            </div>
            <div class="verticalLine col-md-6">
                <app-req></app-req>
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <app-max-bal></app-max-bal>
            </div>
            <div class="verticalLine col-md-6">
                <app-trends></app-trends>
            </div>
        </div>
    </div>
  </div>
</div>
